<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Explore Users | FlexBase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="stylesheet" href="/css/explore.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Cormorant+Garamond:wght@600;700&display=swap" rel="stylesheet" />
</head>
<body>
  <%- include('partials/navbar') %>

  <section class="explore-wrap">
    <h1 class="explore-title">Explore</h1>
    <div class="search-box">
      <input id="userSearch" type="text" placeholder="Search users by username..." autocomplete="off" />
      <ul id="searchResults" class="results-dropdown"></ul>
    </div>
  </section>

  <div class="masonry">
        <div ><img class="item " src="https://i.pinimg.com/474x/f2/59/73/f25973a32eb336e35a10394da83cf97a.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/22/77/0c/22770c98caae52165040e72c70b637ba.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/93/bb/bd/93bbbd2bd7afdf090547b7e3110ff6e5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/f2/5c/cf/f25ccf893615baadd7f30eb3890041c3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/a3/9c/33/a39c339ea19ee3aaab50be23d9ead0cd.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/ba/f1/59/baf15915736302ab8e1c2440c91af260.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/78/ec/35/78ec35ff5514d5ad2a20bed80c2d451a.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/49/1d/d2/491dd292898b68603cd0b59ca98f6e5a.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/9e/60/14/9e6014ce12c3ba71a44b9082b2b39854.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/aa/e7/80/aae7803c771637b5fe026da3adb31b88.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/f4/96/20/f496209cab01d85a80a84b785068c007.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/b9/f4/2a/b9f42a28438bc55523f45f89c5db8075.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/22/c2/c7/22c2c739bf5b0636b43b4d4b3f34a989.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/4e/05/d4/4e05d420e164ec5d0d9eac58878040d8.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/1e/57/4f/1e574f2da1d114dc539f308d644fa9b7.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/57/19/37/571937d291f01a8ea929cf4405043e93.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/f4/96/20/f496209cab01d85a80a84b785068c007.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/6a/be/99/6abe991f68daeb8f857787b06cc41fe5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/bc/dc/45/bcdc4507079bd3c112c180844fb3ff06.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/b4/4d/f2/b44df249c0d2e55023d77c6b54268cca.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/b7/9d/4c/b79d4c3e6cd33900d22321c294e409bd.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/80/ef/14/80ef14d5dcb884c8c19e76c55e6f1020.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/76/e8/18/76e8186de8c39d0bb1de195231227f31.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/1f/e9/d9/1fe9d92949e961e9849f53ab884b27d5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/7c/99/51/7c99519211e385da31eab6f766446df6.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/e7/25/fa/e725faa791eb57b690ab9d5126385c3c.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/6a/66/bb/6a66bb0ee02676fd73a6ea0114053027.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/b5/77/0c/b5770c59a302364f9906369fc0e36cd8.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/08/12/bf/0812bf4282d2c9060331439719268540.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/8c/01/46/8c01463651ba6fe06b4e056e0584651e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/3c/d9/0d/3cd90df7ceaaeae66a4cfdd04620bbce.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/c1/91/11/c19111895283cfdf5834452e3a4d2763.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/b3/6b/c1/b36bc170bd21a15e9568a7feabba29b0.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/34/30/a4/3430a4b6baa4873fb7d6a12fc8c4017c.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/96/17/4b/96174bf8e4e6eaf0c356b42781ebb7d3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/a3/3a/18/a33a185e292ba65f918d440f4ed8705d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/6f/44/8a/6f448a4951dd62651d028707019da9cb.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/a2/85/1e/a2851ef334dd55d2a95954ffc0991352.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/e3/82/f3/e382f3beff589df26d27b12c6f668590.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/05/73/f5/0573f5629a64f45b0b3286c92b934f6f.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/dc/b4/6f/dcb46fd456b3eec96df21474a07c9a6e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/64/32/10/64321037d17923f00d3a487a545ec7a8.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/b6/e8/6c/b6e86cfa91839bd4d5526ffb8a1a82e7.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/0f/65/82/0f65823d52f8bcdb64f6a0c93ea7beaa.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/3c/50/d2/3c50d2d68ab82dad7eedd3e329db5a40.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/bc/04/e6/bc04e6736525a9547e511f4dfc39821c.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/43/32/b9/4332b98445298aaeb9748a8a48b126e2.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/5b/37/ef/5b37ef14c945dc66bc8a98507699013d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/cc/29/7e/cc297e46747ab9f24dd8353a34ae441d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/4f/af/42/4faf423c1a978f80ea539c5ad7a89e11.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/b2/ce/ff/b2ceff84e1ef9c286c2d525483f80706.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c3/04/f3/c304f32cfa191f204d72b4f29ed5f77f.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/90/32/ca/9032ca35f9589dc2b4f05b98f68b6f56.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/35/be/81/35be816c1590caa53b4a4b543eebc27e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/a5/26/84/a526847335b5bcd25c4bf6300135f5e0.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/62/02/c1/6202c1e6844b8664dd939f3b4ee25262.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/fb/5c/c9/fb5cc950e7567b21cb046ace2aae2d06.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/6d/c1/c8/6dc1c87b1928a4ad1d139fecf70d633d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/bc/86/e4/bc86e48fa03fb817359c7e1648067c7e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/1c/64/89/1c6489ffee55d31b3d2991cc60c78028.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/b4/8e/65/b48e65a4ce34855971d6e84be3ce63c4.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/f9/51/70/f951704f27ed9d710c52c94a21246a43.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/70/ae/aa/70aeaae075f1d1fb312909cc6a097c7d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/91/c2/ed/91c2edc88791f75a4b7ed178de08e852.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/1a/c5/51/1ac551e1d24166b5a3c3d1eee86afe52.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/d7/67/e5/d767e51c7638bb11e949de4d42337d1b.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/a4/3a/c7/a43ac730e5bc73e77cfb9fc1f7716861.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/2e/89/55/2e8955488e000e2738ab8c00b74a516d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/75/75/69/757569863d9868ee84ef96e3e529541a.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/2a/85/38/2a8538a31802042ee3a1677a925b5ff3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/16/f4/cd/16f4cd5d46f77993bd18d12ff550e57b.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/89/e6/29/89e6294207dbd988df107cf36d6b60e5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/70/d4/8f/70d48f23a575fd926e930973fb0d505f.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/d0/25/51/d02551fc3c63b844e55021cd8202a2ec.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c5/40/3d/c5403d43f725e8297de8b07926dbebac.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/e8/f0/68/e8f068648829e42e5e87a86a8cd422f3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/20/3b/eb/203beb10438ad053b8f5b21009afdf23.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/8e/2a/07/8e2a07dca7430ce83a05ffc23eab7177.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/08/f6/34/08f634faf3610f54addef9580b318bd4.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/40/c5/16/40c516223f16e3a99e7bdd30d818c313.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c4/2c/2f/c42c2f5abaff01201cb2bd44f6dd0002.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/4d/df/0b/4ddf0badef1befd49af420a7749eaf54.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/ca/3b/17/ca3b170aa9d55f16d2da7280050c952e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/33/aa/f8/33aaf8068183ae13a066897781e98459.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/31/ea/3e/31ea3e9d5693d7469af1b8976c3ba16e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/13/32/01/133201e6eb5d04555a2885f7b50b8916.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c0/17/05/c01705c97486bbc08b6562844f8a5f49.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/47/ef/d1/47efd11e2ae2aaa10a7267d73d7907db.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/76/0b/90/760b900d0daa503204f4ed0ae80fd04e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/7e/1f/4b/7e1f4bdeda46bd294e64d00a4006e5d9.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/95/9a/ec/959aec5b5069e383b4c23815a23e0818.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/22/4e/1f/224e1f709e364f8659bd1f9ede20b4c9.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/f1/2c/be/f12cbe2c0c9ed3d902010e33d522406d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/dd/af/4c/ddaf4c7d2ff27f1b73920ede45ab57c6.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/3f/ba/1f/3fba1f5c9b3d576a80ba2aed7d28d6b5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/18/2b/57/182b57abf287dd7b4a5587b4f75cbf38.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/f7/7a/95/f77a95fc7cf06fa6dc00aa197e0ff0b5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/26/b4/39/26b43954684b41892e8a6ddfc6a73259.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/0c/75/e6/0c75e644dcff1b7abd1c93ceca1a0235.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c1/91/2e/c1912ec907b00f94f5adcc330a51c677.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c2/ca/b6/c2cab620477e82deb5533a174dae7fa0.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/8f/0f/3c/8f0f3c228da5bd40bd1ad7505079ae87.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/b4/17/bb/b417bbcee9604132cb28042b6c3559a3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/a3/be/1f/a3be1f4616a8495c0a4f96aac776a63a.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/71/93/b6/7193b672d045aa4159d168058d1073a0.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/15/76/dd/1576ddf8f059d52902d5f8c5c036f118.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/ad/72/71/ad7271a2f6b62e942bd91ca1fd9102a0.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/db/7b/5c/db7b5ca0cc27af0e11deb5bb6256bcde.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/0a/ce/dc/0acedcdd8918ce47d748b52bb5b589e2.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/60/67/b1/6067b1a64ae6ce352e091beae7587086.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/49/f8/6b/49f86b408b146bcdda1263fb9a53a70a.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/9d/7b/94/9d7b94049f2a9c230889b2fad4bb6c25.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/35/9a/51/359a51f06e159d111956d6e827cf43a2.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/33/b1/d2/33b1d264bcd1b2e684b448b4c7aaf231.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/59/49/3a/59493a25fd5aaaeb8d014ae1feee416b.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c4/6d/32/c46d3250c86ccc8fd5fc664da92cc08b.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/50/80/9e/50809e9218d7d24c68029bd1b51c0241.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/6f/ad/42/6fad423700af1bbb27011ec377393464.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/65/82/9e/65829e26a19777ba28eb52eba1acf4fc.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/78/63/2b/78632be9f4fb5d644ff0ad96a35be85a.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/04/b4/a5/04b4a5943708dabc70aec0591d2f339f.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/eb/ff/1c/ebff1c8ec70df6845fa51b096a2a490f.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/12/79/1b/12791b4f0c7ae502213d3bccb625769e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/93/84/f2/9384f2712950ab2a94d5329b32ad205f.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/09/9a/9b/099a9b0f8f7299c68c172194fe2cc4f3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/f9/fa/e3/f9fae3952a504881cacbff2624442ed4.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/f2/22/a2/f222a2dd11ee40b22151240a89d23001.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/5f/47/97/5f479711c9150758a131eba1892dd172.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/6b/46/5a/6b465ad69c3bc1e0697baaeafad733ab.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/3d/5f/6c/3d5f6cf0d760e399effb0c0375355207.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/da/95/17/da95173387b22628bd20902cb8d33ef7.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/12/23/61/122361e22890dcc7078d8507eae58df3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/bd/26/13/bd2613a9ba84f028132803d594bcb116.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/82/9e/eb/829eeb5551527cd26aa5d13d60de770d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/cf/c4/47/cfc44771fce40904f31a23a12317f4b9.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/a4/b0/47/a4b047c9ed105b8ae6daa2b9a8dfa1b4.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/68/c7/1d/68c71d7095692040520294a35cc70796.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/14/fa/8c/14fa8c93f5bbab39cd4125cebcc3b397.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/28/46/10/284610e58642bc569ea12dcfdab4e706.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/47/f3/02/47f3025cff065c2296f748c9202bca40.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/07/76/fe/0776fea91200f4111d090fec727b31a7.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/ca/15/7d/ca157d6047577193e6c2f924961aef55.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/6d/45/8b/6d458bd81ee2bc01a3e316d722dd85e6.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/7c/52/95/7c529541caee99d2aca6162bce56f632.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/18/c7/a4/18c7a4f4bc1cb51d89a556675a424493.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/07/7b/26/077b26436c7f94c665ad91156fd86639.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c6/5f/8e/c65f8ea018d351cd1c6a8a6792244185.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/c2/19/5b/c2195b04ea8185db2b26b1b25a364333.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/92/c6/fa/92c6fa9d828bc9851a0efc580fc93e15.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/17/5c/11/175c11e61b058b5f2c4340cee4d77ef0.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/46/a5/67/46a5671f9d3b67203d22518b18a26e46.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/cc/fd/5b/ccfd5b8244dd169620671ffc70291b23.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/81/2d/9d/812d9dd9afb9d59313145fe79020c840.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/59/ff/fa/59fffa10eca6aaaad2bd9efe5c1a7656.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/05/e9/7a/05e97aa479857f7f1ba5dffe7f881b77.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/03/44/40/034440522a85831656a053479adc1e57.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/7c/26/70/7c2670a5e3847d3d72f6c9346aaf964e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/8d/04/31/8d0431b0c620cd1b0b923f7e530382da.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/aa/55/96/aa55961a69748a00e2e6cc97b4276a22.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/5f/13/fd/5f13fda720856f2ea524b9eb2decc26a.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/18/d3/2a/18d32ac48c07688fe491138243359412.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/ba/a2/46/baa246ea6938e79f713dedf8ff79a253.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/5a/7e/41/5a7e4184eb6c27f33cfceaa3dae8ab34.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/ee/3e/30/ee3e3088c9d13673009c8993707bf5b5.jpg" alt=""></div>  
        <div ><img class="item " src="https://i.pinimg.com/474x/ce/f6/0e/cef60e9f0fdc3e5c8c51846fe754296f.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/45/ca/eb/45caeb8db20f41323b1dab0ba5e5fc96.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/96/51/d1/9651d17948f4e2616b574b3bf1c3900d.jpg" alt=""></div> 
        <div ><img class="item " src="https://i.pinimg.com/474x/84/bd/49/84bd491573edc9c4e885f0adab8dc5a5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/62/ff/9f/62ff9f96326f59823913786bf95c28af.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/474x/fb/e9/9f/fbe99f7336d113943a3a4e1d36453e02.jpg" alt=""></div>
    


    </div>

  <script>
    // Optional: pass current user if needed by navbar
    window.__currentUser = <%- JSON.stringify(user || null) %>;
  </script>
  <script src="/js/explore.js"></script>
</body>
</html>
