<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Explore Users | FlexBase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="stylesheet" href="/css/explore.css" />
  <link rel="stylesheet" href="/css/footer.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Cormorant+Garamond:wght@600;700&display=swap" rel="stylesheet" />
</head>
<body>
  <%- include('partials/navbar') %>

  <section class="explore-wrap">
    <h1 class="explore-title">Explore</h1>
    <div class="search-box">
      <input id="userSearch" type="text" placeholder="Search users by username..." autocomplete="off" />
      <ul id="searchResults" class="results-dropdown"></ul>
    </div>
  </section>

  <div class="masonry">
        <div ><img class="item " src="https://i.pinimg.com/736x/28/c5/9d/28c59d712e87c6e7be849fa5082bf0f3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/29/b3/34/29b3345c8b9f83b99a35c223e5d8504c.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/d1/10/38/d11038a3ecf863539e7427090688e431.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/fa/87/f1/fa87f172a4f2220f207741ad704a8d0e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/71/71/e4/7171e48df6bca0a824ff3070be6ba1a0.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/89/ae/a1/89aea1a3e83aee4315273139a5962039.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/dd/db/a4/dddba4f3e561a2a06ba955648b7a5138.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/dd/db/e5/dddbe53be5df9d258edffc774133fdc8.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/9b/75/92/9b7592eb8ba46e0dd9403ea7745bc6c6.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/f1/7e/f9/f17ef99808367a0319a71a27cc3fcc4e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/55/32/06/5532063bdee50caf2a4a42d16d611019.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/43/71/44/4371440c675bf05f30cf9c22b57a3bca.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/a7/7f/65/a77f652a806ab15b1f44d75fd60fc719.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/b6/7b/f3/b67bf3fd5faa458229b5148f865e09ef.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/19/f2/02/19f2023a841c5b2b750acdfe8c067c16.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/1c/98/19/1c98191bd99802baf358e87d5d7d7b22.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/96/e5/61/96e561e656aaaf2f9e7dfadd60d82644.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/49/69/8f/49698f7b39b42d06ad2a828b18e074f2.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/e8/7a/56/e87a56cb626d732ab9c81c8bc91445ac.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/f2/3a/e0/f23ae0c93e4fd2cb6f1851638d47dfe2.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/4c/b4/9d/4cb49dc09d4f38a8ef8e74129c7864c7.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/be/c8/5d/bec85dd138679f057d8584c399e6653c.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/af/f9/9a/aff99a76a00255d11eb8f2e6ee42bcdc.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/ef/a5/f9/efa5f9923e7a916e04d41a3e316ff3a8.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/d2/5f/48/d25f489cdffad7a9270b9d696348dcae.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/4d/ed/b2/4dedb281235e9efe808fc897163e0909.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/df/a2/a7/dfa2a79c3c6f9f9a2c526a887d351b95.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/3f/aa/4e/3faa4e58cdb23f67e4f1ea483c2b7db4.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/4c/71/cd/4c71cd998d2bb7a8ec72e8619678975d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/63/53/24/635324ca6f0bc21e90fc09498179bcfd.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/28/11/2f/28112f46e3350155a605a6bdfee45b37.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/ed/4b/2a/ed4b2a54e73ce816e6499ae5526a273b.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/57/75/ec/5775ec4f0fa91d3dfc5038e8b99037a6.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/f9/aa/23/f9aa238b8cbd706d5ffdf441068e9dd4.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/47/2d/77/472d77d8894972bec120065789db3ec6.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/a4/6e/93/a46e93db826570e6c26791a5d68b9366.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/ba/91/cf/ba91cf70f5171080b82509baf475105d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/ed/ce/ab/edceabf57a235f4abd8f75ebfb14690c.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/0b/9a/a0/0b9aa028d81cd9ddb2bd199d96fd5d75.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/76/1c/8e/761c8e2faddb5aa958232dcf8f57a741.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/7c/27/c3/7c27c30dd4c7c4505a5f7f934c602642.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/22/72/fe/2272fe71737192fa6f851bc0344ecc39.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/4e/90/dd/4e90dddfb0ba141bbf3f4dcf17297e37.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/ac/5d/8f/ac5d8f8f27b5defc5a133bcba548d6cd.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/62/3d/3d/623d3d962583eee11ec9e7cddbee489e.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/10/b8/f5/10b8f5d19688117299062233d29c6e0d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/31/a3/bb/31a3bbb542e1b36b8083fe4c6c80d585.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/c2/15/e3/c215e3c9aab41d4256845babc344f2b5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/71/17/4a/71174ad39e94007eb0ebc6d239cfe55d.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/bb/04/3a/bb043affe66d4495c804df6b7274f12f.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/68/7f/06/687f0681dddcf2920e14320a2e22c7d3.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/d3/b7/58/d3b758c1b7fd42352cae134110dd7b62.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/14/94/0c/14940c737ca5e6bde1422f350b0445ed.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/8c/11/25/8c11256d50a43bf5d7f65f80d6ee6cd5.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/d9/d9/70/d9d97055da058c9c6bc4d03126a447cb.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/f6/5a/ee/f65aee4f07a24605bc944706fcd58ecc.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/1200x/11/33/94/113394f20ee6ed739f830ac322031112.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/55/d1/c4/55d1c46e16010ef597745836b4562180.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/88/ba/f1/88baf1b786861d57582d0e23ec1bddcc.jpg" alt=""></div>
        <div ><img class="item " src="https://i.pinimg.com/736x/48/97/3b/48973b230ae3abc730de9acdc5c15ab7.jpg" alt=""></div>
        

    </div>
<%- include('partials/footer') %>
  <script>
    // Optional: pass current user if needed by navbar
    window.__currentUser = <%- JSON.stringify(user || null) %>;
  </script>
  <script src="/js/explore.js"></script>
</body>
</html>
